body {
background-color:black;
margin: auto;
}

#all {
    /* max-width: 500px; */
  margin: auto;
  position: relative;
  height: 100vh;
  width: 100vw;
  align-content: center;
  
}

#newgame {
    display: block;
    margin: auto;
    position: absolute;
    top: 335px;
    z-index: 15;
    background: rgb(246,247,249);
background: linear-gradient(266deg, rgba(246,247,249,1) 0%, rgb(49, 49, 49) 100%, rgba(7,56,152,1) 100%, rgba(254,255,255,1) 100%);
    height: 60px;
    width: 100%;
    font-size: 2rem;
}

#game-container, #user-game-container {
    position: absolute;
    margin: auto;
    background-color: black;
  display: grid;
  align-content: center;
  /* justify-items: center; */
}

.cell {
margin: 10px;
background-color:#aad9cd;
border-radius: 5%;
/* Prio-soft via Code Pen */
  border-color: #aab9cd;
  color: #fff;
  box-shadow: 0 0 40px 40px #aab9cd inset, 0 0 0 0 #aab9cd;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  /* end credit */
}
.cell:hover {
  box-shadow: 0 0 10px 0 #aab9cd inset, 0 0 10px 4px #aab9cd;
}

/* .cell:hover {
    background-color: #fff;
} */

.cell:active {
    background-color: darkred;
}

/* #score-box {
    padding: 10px;
    margin: 10px;
    border: 1px solid grey;
}

#score {
    color: black;
    content: 0;
} */


.blue {
    background: blue;
}

.red {
  background-color: red;
}

@media screen and (orientation:landscape) {
    #game-container {
        top: 100px;
      
      grid-template-columns: repeat(3,100px);
  grid-template-rows: repeat(3,100px);
}

#user-game-container {
    top: 300px;
    /* height: 200px;
    width: 400px; */
      grid-template-columns: repeat(3,100px);
  grid-template-rows: repeat(3,100px);
}
}


@media screen and (orientation:portrait) {
    #game-container {
        top: 30px;
      /* height: 400px;
    width: 200px; */
grid-template-columns: repeat(3,100px);
  grid-template-rows: repeat(3,100px);
  /* grid-column-gap: 10px;
  grid-row-gap: 10px;; */
  
}

#user-game-container {
    top:400px;
    /* 
    height: 400px;
    width: 200px; */
grid-template-columns: repeat(3,100px);
  grid-template-rows: repeat(3,100px);
  /* grid-row-gap: 10px;
  grid-column-gap: 10px; */
}

.cell:hover {
  box-shadow: none;
}
}




.glow {
  box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;
}

