body {
background-color:black;

}

.center{
    margin: 0 auto;
max-width: 90vw;}


.center-text {
    text-align: center;
}

.small {
    font-size: 2vw;
}

button {
    border:none;
}

#newgame {

background: black;
    width: fit-content;
margin: 0 auto;
text-align: center;
}

.slim {
    height: 10px;
}

.info-text-l {
    color: #fff;
    font-size: 3vw;
    text-transform: uppercase;
    text-align: center;
    padding: 0px;
    position: relative;
    top: -18px;
    height: 0px;
}

.info-text-l span {
    background: black;
}

.info-text-r {
    color: #fff;
font-size: 3vw;
    text-transform:uppercase;
    text-align: right;
    padding: 0px;
    position: relative;
    background: black;
    padding: 0 5px;
    right: 15px;
    float: right;
}

.slim-nav {
    height: 15px;
}

#game-container, #user-game-container {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
    margin: 0 auto;
    background-color: black;
border: #aab9cd 1px solid;
padding-bottom: 6px;
}

#game-container {
        width: 67%;
    margin: 20px auto 10px auto;
}



.cell {
    width: 31%;
    padding-bottom: 30%;
    margin-bottom: 3%;
  position: relative;
background-color:#aad9cd;
border-radius: 5%;
/* Prio-soft via Code Pen */
  border-color: #aab9cd;
  color: #fff;
  box-shadow: 0 0 25px 25px #aab9cd inset, 0 0 0 0 #aab9cd;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  /* end credit */
}
.cell:hover {
  box-shadow: 0 0 10px 0 #aab9cd inset, 0 0 10px 4px #aab9cd;
}

.cell:active {
    background-color: black;
}

.display-box {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 10px;
    font-size: 3vw;
    color: white;
}


.info {
    margin: 20px 0;
}


.right {
    text-align: right;
}

.cell-glow {
  box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;
}

.cell-glow-blue {
  box-shadow: 0 0 10px 0 rgb(0, 238, 255) inset, 0 0 10px 4px rgb(0, 238, 255);
}

.cell-glow-pink {
  box-shadow: 0 0 10px 0 rgb(255, 14, 134) inset, 0 0 10px 4px rgb(255, 14, 134);
}

.cell-glow-green {
  box-shadow: 0 0 10px 0 rgb(22, 255, 1) inset, 0 0 10px 4px rgb(22, 255, 1);
}

/* Glow Effect from W3 Schools */

.glow {
  color: #fff;
  -webkit-animation: glow 0.8s ease-in-out infinite alternate;
  -moz-animation: glow 0.8s ease-in-out infinite alternate;
  animation: glow 0.8s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}