body {
    background-color:black;
    font-family: 'Righteous', cursive;
}  

a {
    text-decoration: none;
    color: inherit;
    line-height: 1.5rem;
    /* font-size: 1rem; */
}

a:hover {
    text-decoration: none;
    color: #ff4da6;
}

.center {
    position: static;
    top: 0;
    left: 0;
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 90vw;
}

.center-text {
    text-align: center;
}

.small {
    font-size: 2vw;
}

/* Navbar */

#logo {
    font-size: 1.5rem;
    z-index: 20;
    margin: 0;
    float: left;
    border: white 0.5px dashed;
    border-radius: 10%;
    padding: 0px 3px 3px 3px;
    position: relative;
    bottom: 5px;
}

#logo:hover, .logo:hover {
    color: black;
}

.slim-nav {
    height: 60px;
    padding-left: 8px;
}

.toggles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: flex-end;
}

label {
    color: #fff;   
}

/* CREDIT W3 School website. Sliding toggle switch. */

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-1, .slider-2, .slider-3 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.slider-1:before, .slider-2:before, .slider-3:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

input:checked + .slider-1, input:checked + .slider-2, input:checked + .slider-3 {
  background-color: #ff4da6;
}

input:focus + .slider-1, input:focus + .slider-2, input:focus + .slider-3 {
  -webkit-box-shadow: 0 0 1px #ff4da6;
          box-shadow: 0 0 1px #ff4da6;
}

input:checked + .slider-1:before, input:checked + .slider-2:before, input:checked + .slider-3:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

.slider-1.round, .slider-2.round, .slider-3.round {
  border-radius: 34px;
}

.slider-1.round:before, .slider-2.round:before, .slider-3.round:before {
  border-radius: 50%;
}

/* Central controls & info */

.instr {
    color: #fff;
    text-align: center;
    white-space: nowrap;
    margin: auto;
    line-height: 1.2rem;
    position: relative;
    bottom: 10px;
}

.info {
    margin: 20px 0;
}

.info-score, .info-round {
    position: relative;
    bottom: 15px;
}

.info-text {
    color: #fff;
    text-align: center;
    line-height: 1.2rem;
}

.display-box {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 10px;
    font-size: 7vw;
    color: white;
}

#newgame {
    background: black;
    padding: 4px 12px;
    margin: 0px;
    text-align: center;
    text-shadow: 0 0 0px #fff, 0 0 5px #ff4da6, 0 0 10px #ff4da6, 0 0 20px #ff4da6, 0 0 20px #ff4da6, 0 0 20px #ff4da6, 0 0 30px #ff4da6;
    border: #a0adbe 1px solid;
    position: relative;
    top: -5px;
}

#newgame:hover {
    text-shadow: 0 0 0px #fff, 0 0 0px;
    border: #ff4da6 1px solid;
}

#newgame:active {
    color: black;
}

/* Gamepads */

#game-container, #user-game-container {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    background-color: black;
    border: #a0adbe 1px solid;
    padding-bottom: 6px;
    border-radius: 2%;
}

#game-container {
    width: 67%;
    margin: 0px auto 10px auto; 
    top: 50px;
}

#user-game-container {
    position: relative;
    bottom: 20px;
}

.cell {
    width: 31%;
    padding-bottom: 30%;
    margin-bottom: 3%;
    position: relative;
    background-color:#aad9cd;
    border-radius: 5%;
/* Prio-soft via Code Pen */
    border-color: #aab9cd;
    color: #fff;
    -webkit-box-shadow: 0 0 25px 8px #aab9cd inset, 0 0 0 0 #aab9cd;
            box-shadow: 0 0 25px 8px #aab9cd inset, 0 0 0 0 #aab9cd;
/* end credit */
}

.cell:hover {
  -webkit-box-shadow: 0 0 10px 0 #aab9cd , 0 0 10px 0px #aab9cd;
          box-shadow: 0 0 10px 0 #aab9cd , 0 0 10px 0px #aab9cd;
}

.cell:active {
    background-color: black;
}

.grey-cells {
    background-color: #aab9cd !important;
}

/* These classes control the colour and depth of cell flashes during gameplay. They are referenced directly in the showCir() function */

.cell-glow {
    -webkit-box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff !important;
            box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff !important;
}

.cell-glow-blue {
    -webkit-box-shadow: 100px 100px 100px 100px rgb(0, 238, 255) inset, 0 0 50px 4px rgb(0, 238, 255) !important;
            box-shadow: 100px 100px 100px 100px rgb(0, 238, 255) inset, 0 0 50px 4px rgb(0, 238, 255) !important;
}

.cell-glow-pink {
    -webkit-box-shadow: 100px 100px 100px 100px rgb(255, 14, 134) inset, 0 0 85px 4px rgb(255, 14, 134) !important;
            box-shadow: 100px 100px 100px 100px rgb(255, 14, 134) inset, 0 0 85px 4px rgb(255, 14, 134) !important;
}

.cell-glow-green {
    -webkit-box-shadow: 100px 100px 100px 100px rgb(22, 255, 1) inset, 0 0 50px 4px rgb(22, 255, 1) !important;
            box-shadow: 100px 100px 100px 100px rgb(22, 255, 1) inset, 0 0 50px 4px rgb(22, 255, 1) !important;
}

.cell-glow-blue:active {
    -webkit-box-shadow: 100px 100px 100px 100px rgb(0, 238, 255) inset, 0 0 50px 4px rgb(0, 238, 255) !important;
            box-shadow: 100px 100px 100px 100px rgb(0, 238, 255) inset, 0 0 50px 4px rgb(0, 238, 255) !important;
}

.cell-glow-pink:active {
    -webkit-box-shadow: 100px 100px 100px 100px rgb(255, 14, 134) inset, 0 0 85px 4px rgb(255, 14, 134) !important;
            box-shadow: 100px 100px 100px 100px rgb(255, 14, 134) inset, 0 0 85px 4px rgb(255, 14, 134) !important;
}

.cell-glow-green:active {
    -webkit-box-shadow: 100px 100px 100px 100px rgb(22, 255, 1) inset, 0 0 50px 4px rgb(22, 255, 1) !important;
            box-shadow: 100px 100px 100px 100px rgb(22, 255, 1) inset, 0 0 50px 4px rgb(22, 255, 1) !important;
}

/* CREDIT: Glow Effect code found on W3 Schools website */
.glow {
    color: #fff;
    text-shadow: 0 0 0px #fff, 0 0 5px #ff4da6, 0 0 10px #ff4da6, 0 0 20px #ff4da6, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6;

}

.number-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    height: 100%;
}

.number {
    position: absolute;
    top: 0.1rem;
    display: block;
    padding: 0;
    font-size: 180%;
    font-weight: 700; 
}

.top-score {
    text-align: left;
    display: inline-block;
    color: #fff;
    margin: 0;
    padding: 0px;
    position: relative;
    top: -15px;
}

/* Footer */

.game-footer {
    width: 100%;
    height: 70px;
    color: #a0adbe;
    text-align: center;
}

.footer-links { 
    line-height: 1rem;
    margin: 0;
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    border: none;
}

.footer-links:hover {
    text-decoration: none;
    color: #ff4da6;
}

#clear-button {
    background: none;
    border: none;
    line-height: 1rem;
    margin: 0;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
}

.double-line {
    border-bottom: #a0adbe 0.2px solid;
    margin: 10px;
}

#copyright {
    padding-top: 100px;
}

/* Media Queries */

/* Portrait specific */
@media (orientation: portrait) {
    .instr-lower {
        display: none;
}

    .m10 {
        margin-bottom: 6px;
}

}

@media only screen and (max-width:290px) {
    .slim-nav {
        padding-right: 7px;
    }
}

/* Landscape general */
@media (orientation: landscape) {

/* General & Utility */
.center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
    border: #a0adbe 1px solid;
    border-radius: 0.7rem;
    margin-top: 10px;
}

.center-text {
    text-align: center;
    padding: 0;
    margin: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0%;
            flex: 0 0 0%;
    max-width: 100%;
}

.m10 {
    margin-bottom: 10px;
}

/* Navbar */
.slim-nav {
    height: 60px;
}

#logo,.logo {
    font-size: 2.5rem;
    font-family: 'Righteous', cursive;
}

/* Controls & Information */
#newgame {
    font-size: 1.7rem;
}

.instr-lower {
    display: block;
    color: #fff;
    margin: 10px auto;
    padding: 0;
    text-align: center;
}

.instr {
    display: none;
}

.info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30%;
}

.info-score, .info-round {
    position: static;
}

.stack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    text-align: center;
}

.display-box {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 10px;
    font-size: 3vw;
    color: white;
}

.landscape-element {
    display: inline;
}

/* Gamepads */
#game-container, #user-game-container {
    padding-bottom: 0px;
    width: 50%;
    margin: 0 auto; 
    top: 50px;
}

#user-game-container {
    position: static;
}

.top-score {
    text-align: left;
    display: inline-block;
    color: #fff;
    margin: 0;
    padding: 10px;
    position: relative;
    top: 0px;
}

#form {
max-width: 60%;
}

}

/* iPad portrait-specific */

/* Targetted device-specific media queries were found on the CSS-tricks website */
@media only screen 
and (min-width: 481px) 
and (max-width: 1024px) 
and (orientation:portrait) {

#logo {
    font-size: 2.5rem;
    margin-top: 5px;
}

#game-container, #user-game-container {
    width: 57%;
}

#user-game-container {
    position: relative;
    bottom: 10px;
}

.instr {
    position: relative;
    bottom: 10px;
}
}

/* Mobile landscape view */
@media only screen  
  and (max-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

.slim-nav {
    height: 40px;
}

#logo {
    font-size: 1.5rem;
}

#newgame {
    font-size: 1rem;
}

.center {
    padding: 7px;
}
}

/* Contact form & full instructions page */

.full-instr-text {
    text-align: left;
    color: #fff;
    margin: auto;
    padding: 20px;
}

.full-instr-text p {
    text-align: left;
    color: #fff;
    display: block;
    margin: 0 auto;
}

.full-instr-text a {
    text-align: center;
    color: #fff;
    display: block;
    margin: auto;
    padding: 20px;
}

.full-instr-text a:hover {
    text-decoration: none;
    color: #ff4da6;
}

h2.glow {
    text-align: center;
    padding: 10px;
}

#formBtn {
    display: block;
    margin: 10px auto;   
}

#form-status {
    color: #fff;
    display: block;
    margin: 10px auto;  
}

/* jQuery Toggle Styles */

.light-theme {
    background-color: rgb(255, 253, 253) !important;
    color: rgb(131, 131, 131) !important;
    text-shadow: none !important;
}

.hard-mode {
    background-color: inherit;
    border-color: inherit;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: inherit;
}

.disableToggle {
    display: none;
}
